@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #555c66;
}

.menu-open::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

p {
  margin: 0;
}

.container {
  max-width: 1300px;
  padding: 0 40px;
  margin: 0 auto;
}

.title {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  text-align: center;
  color: #333;
  padding: 20px 40px 0 40px;
}
.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #00a08f;
  margin: 20px auto;
}
@media (max-width: 1199px) {
  .title {
    font-size: 2.5em;
  }
  .title::after {
    width: 70px;
    margin: 20px auto;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 2.2em;
  }
  .title::after {
    width: 65px;
    margin: 15px auto;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 1.8em;
  }
  .title::after {
    width: 60px;
    margin: 15px auto;
  }
}

.subtitle {
  color: #555c66;
  font-size: 1.3em;
  font-weight: 400;
  width: 80%;
  text-align: center;
}
@media (max-width: 576px) {
  .subtitle {
    font-size: 0.9em;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .subtitle {
    font-size: 1em;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .subtitle {
    font-size: 1.1em;
    width: 100%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .subtitle {
    font-size: 1.2em;
    width: 80%;
  }
}

.button {
  display: inline-block;
  background-color: #00a08f;
  color: #fff;
  padding: 10px 30px;
  transition: filter 0.3s;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0;
}
.button:hover {
  background-color: #017c70;
  color: #fff;
}

.form-container .button {
  display: inline-block;
  background-color: #017c70;
  color: #fff;
  padding: 10px 30px;
  transition: filter 0.3s;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0;
}
.form-container .button:hover {
  background-color: rgb(1.408, 174.592, 157.696);
  color: #fff;
}

.base-link {
  font-weight: 400;
  width: fit-content;
  border-bottom: 1px solid #00a08f;
  padding-bottom: 3px;
  transition: 0.2s ease-in-out;
  color: #555c66;
}
@media (min-width: 1px) and (max-width: 1199px) {
  .base-link {
    font-size: 0.9em;
  }
}

.card-mod {
  border: none;
  margin: 20px 15px;
  padding: 25px;
  box-shadow: 10px 12px 0px #00a08f;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: #f5f7fa;
}
.card-mod:hover {
  box-shadow: 15px 17px 0px #00a08f;
  transform: translate(0, -10px);
}
.card-mod .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}
.card-mod .card-body h5 {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}
.card-mod .card-body p {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  color: #555c66;
}
.card-mod .card-body a:hover {
  color: #02c2ab;
  border-bottom: 1px solid #02c2ab;
}
.card-mod img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .card {
    min-height: 390px;
    min-width: 270px;
    padding: 12px;
  }
  .card .card-body p {
    font-size: 0.8em;
  }
  .card .card-body h5 {
    font-size: 1.1em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .card {
    flex-direction: row;
    min-height: 250px;
    min-width: 85vw;
    padding-right: 0;
  }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 15px 20px;
  }
  .card .card-body p {
    margin: 15px 10px 25px 10px;
    font-size: 0.8em;
  }
  .card .card-body h5 {
    margin: 15px 10px;
    font-size: 1.2em;
  }
  .card img {
    width: 240px;
    height: 100%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .card {
    flex-direction: row;
    min-height: 250px;
    min-width: 600px;
    padding-right: 0;
  }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 20px;
  }
  .card .card-body p {
    margin: 15px 10px 25px 10px;
    font-size: 0.8em;
  }
  .card .card-body h5 {
    margin: 15px 0;
    font-size: 1.2em;
  }
  .card img {
    width: 270px;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    min-width: 270px;
    padding: 15px;
  }
  .card .card-body p {
    font-size: 0.75em;
  }
  .card .card-body h5 {
    font-size: 1.1em;
  }
}
header {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.034);
}
header nav {
  position: relative;
  z-index: 4;
}
header nav .logo img {
  height: 55px;
  width: auto;
}
header nav .navbar-toggler {
  border: none;
  outline: none;
}
header nav .navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
header nav .navbar-toggler:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}
header nav .navbar-collapse {
  position: relative;
  z-index: 4;
}
header nav .navbar-collapse .menu-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
header nav .navbar-collapse .menu-list .item-list {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin: 0 10px;
}
header nav .navbar-collapse .menu-list .item-list .link-list {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  color: #555c66;
  padding: 0.4vw 0.5vw;
  border-bottom: solid 1px #fff;
}
header nav .navbar-collapse .menu-list .item-list .link-list:hover {
  color: #00a08f;
  border-bottom: solid 1px #00a08f;
}
header nav .navbar-collapse .menu-list .item-list .actived {
  color: #00a08f;
  border-bottom: solid 1px #00a08f;
}
@media (max-width: 576px) {
  header header .logo img {
    height: 50px;
  }
}
@media (max-width: 768px) {
  header header .logo img {
    height: 45px;
  }
  header header .services-home h2 {
    font-size: 2em;
  }
}
@media (max-width: 992px) {
  header header nav li:last-child {
    margin-right: 10px;
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  padding: 100px 50px;
}
footer .footer-container .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 60%;
}
footer .footer-container .footer-info .footer-social h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}
footer .footer-container .footer-info .footer-social p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
  font-size: 0.9em;
  width: 80%;
}
footer .footer-container .footer-info .footer-social .social-media {
  margin-bottom: 20px;
}
footer .footer-container .footer-info .footer-social .social-media a {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
  color: #fff;
  margin-right: 10px;
  transition: color 0.3s;
}
footer .footer-container .footer-info .footer-social .social-media a:hover {
  color: #00a08f;
}
footer .footer-container .footer-info .contact-info h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}
footer .footer-container .footer-info .contact-info p {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 1px;
  text-align: left;
  color: #fff;
}
footer .footer-container .map {
  width: 40%;
  height: 400px;
}
footer .footer-container .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover;
}
footer .copyright {
  background-color: #404040;
  padding: 40px 0;
}
footer .copyright p {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

@media (max-width: 576px) {
  footer .footer-container {
    flex-direction: column;
    padding: 50px 30px;
  }
  footer .footer-container .footer-info {
    width: 100%;
    margin-bottom: 40px;
  }
  footer .footer-container .footer-info .footer-social h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  footer .footer-container .footer-info .footer-social p {
    font-size: 0.8em;
    width: 80%;
  }
  footer .footer-container .footer-info .footer-social .social-media a {
    margin: 0 20px 0 0;
    font-size: 1.8em;
  }
  footer .footer-container .footer-info .contact-info h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  footer .footer-container .footer-info .contact-info p {
    font-size: 0.8em;
  }
  footer .footer-container .map {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container .footer-info {
    width: 100%;
    margin-bottom: 40px;
  }
  footer .footer-container .footer-info .footer-social h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }
  footer .footer-container .footer-info .footer-social p {
    font-size: 0.8em;
    width: 80%;
  }
  footer .footer-container .footer-info .footer-social .social-media a {
    margin: 0 20px 0 0;
    font-size: 1.8em;
  }
  footer .footer-container .footer-info .contact-info h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  footer .footer-container .footer-info .contact-info p {
    font-size: 0.8em;
  }
  footer .footer-container .map {
    width: 100%;
    height: 300px;
  }
}

.contact-section {
  background-color: #00a08f;
  padding: 50px 0;
}
.contact-section .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin-bottom: 50px;
}
.contact-section .contact-container .form-container {
  width: 50%;
  padding: 30px;
}
.contact-section .contact-container .form-container h2 {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.contact-section .contact-container .form-container .button {
  background-color: #017c70;
  width: 100%;
}
.contact-section .contact-container .form-container .button:hover {
  background-color: #026b61;
}
.contact-section .contact-container .form-container .form-group {
  margin-bottom: 20px;
}
.contact-section .contact-container .form-container .form-group input,
.contact-section .contact-container .form-container .form-group textarea {
  width: 100%;
  padding: 10px 15px;
  border: none;
  box-sizing: border-box;
}
.contact-section .contact-container .form-container .form-group input:focus-visible,
.contact-section .contact-container .form-container .form-group textarea:focus-visible {
  outline: 2px solid #02c2ab;
  box-shadow: none;
}
.contact-section .contact-container .form-container .form-group textarea {
  height: 100px;
  resize: vertical;
}
.contact-section .contact-container .fqa-container {
  width: 50%;
  background-color: #f5f7fa;
  padding: 20px 10px;
}
.contact-section .contact-container .fqa-container .fqa-item {
  padding: 10px 20px;
  border-radius: 5px;
}
.contact-section .contact-container .fqa-container .fqa-item h3 {
  font-size: 1em;
  margin-bottom: 0;
}
.contact-section .contact-container .fqa-container .fqa-item p {
  font-size: 1em;
  padding: 20px;
}
.contact-section .contact-container .fqa-container .fqa-item .fqa-question {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.contact-section .contact-container .fqa-container .fqa-item .fqa-question i {
  padding: 0 10px;
}
.contact-section .contact-container .fqa-container .fqa-item .fqa-question.open {
  color: #00a08f;
}
.contact-section .contact-container .fqa-container .fqa-item .fqa-question.open i {
  transform: rotate(180deg);
}
.contact-section .contact-container .fqa-container .fqa-item .fqa-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.fqa-item.open .contact-section .contact-container .fqa-container .fqa-item .fqa-answer {
  height: auto;
}
@media (max-width: 576px) {
  .contact-section .contact-container {
    flex-direction: column;
    padding: 0 20px;
  }
  .contact-section .contact-container .form-container {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .contact-section .contact-container .fqa-container {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .contact-section .contact-container {
    flex-direction: column;
    padding: 0 20px;
  }
  .contact-section .contact-container .form-container {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .contact-section .contact-container .fqa-container {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .contact-section .contact-container {
    max-width: 600px;
    flex-direction: column;
    padding: 0 20px;
  }
  .contact-section .contact-container .form-container {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .contact-section .contact-container .fqa-container {
    width: 100%;
  }
}

.banner-home {
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 230px 0 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  color: #fff;
}
.banner-home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background-image: url("../assets/images/banner-img.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
  z-index: -1;
}
.banner-home h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;
  text-align: left;
  color: #fff;
  width: 50%;
}
.banner-home p {
  color: #fff;
  width: 50%;
  padding: 20px 0 50px 0;
  text-align: left;
}
@media (max-width: 1199px) {
  .banner-home {
    background-image: url(../assets/images/banner-2.png);
  }
}
@media (max-width: 768px) {
  .banner-home {
    padding: 200px 0 100px 0;
  }
  .banner-home h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
  }
  .banner-home p {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .banner-home {
    background-image: url(../assets/images/banner-3.png);
    padding: 150px 0 45px 0;
    min-height: 600px;
  }
  .banner-home h1 {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
    width: 100%;
  }
  .banner-home p {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
    width: 100%;
  }
}

.about-home {
  background-color: #00a08f;
  color: #fff;
  padding: 50px 0;
}
.about-home .col {
  flex: 1 0 200px;
  text-align: left;
  padding-right: 25px;
  margin: 15px 0;
  height: 100%;
}
.about-home .col h5 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
}
.about-home .col p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
  color: #fff;
}
@media (max-width: 576px) {
  .about-home {
    padding: 25px 0;
  }
  .about-home .col {
    padding-right: 0;
  }
  .about-home .col h5 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
    color: #fff;
  }
}
@media (max-width: 576px) and (min-width: 576px) and (max-width: 768px) {
  .about-home .col h5 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: left;
    color: #fff;
  }
}

.services-home {
  padding: 80px 0 0 0;
  background: linear-gradient(to bottom, #ffffff 60%, #f5f7fa 40%);
  text-align: center;
}
.services-home > .container {
  padding: 0;
}
.services-home .services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-home .image-container {
  width: 90%;
  height: 500px;
  margin-top: 70px;
  background-image: url("../assets/images/3-workers.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
}
.services-home .services-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  bottom: 100px;
}
.services-home .services-list .service {
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 12px 0px #00a08f;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
  padding: 25px 40px;
  margin: 20px;
}
.services-home .services-list .service:hover {
  box-shadow: 15px 17px 0px #00a08f;
  transform: translate(0, -10px);
}
.services-home .services-list .service h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  color: #555c66;
}
.services-home .services-list .service img {
  max-width: 70px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .services-home .services-list {
    display: grid;
    grid-template-columns: 190px 190px;
    justify-items: center;
  }
  .services-home .services-list .service {
    width: 150px;
    height: 130px;
    padding: 25px 50px;
    margin: 10px;
  }
  .services-home .services-list .service h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    color: #555c66;
  }
  .services-home .services-list .service img {
    max-width: 40px;
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .services-home .services-list {
    display: grid;
    grid-template-columns: 190px 190px;
    justify-items: center;
  }
  .services-home .services-list .service {
    width: 150px;
    height: 130px;
    padding: 25px 50px;
    margin: 10px;
  }
  .services-home .services-list .service h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    color: #555c66;
  }
  .services-home .services-list .service img {
    max-width: 40px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-home br {
    display: none;
  }
  .services-home .services-list .service {
    width: 150px;
    height: 130px;
    padding: 15px 40px;
    margin: 15px;
  }
  .services-home .services-list .service h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    color: #555c66;
  }
  .services-home .services-list .service img {
    max-width: 40px;
    margin: 5px 0 20px;
  }
  .services-home .image-container {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .services-home .services-list .service {
    width: 150px;
    height: 130px;
    padding: 40px 15px 45px 15px;
    margin: 16px;
  }
  .services-home .services-list .service h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    color: #555c66;
  }
  .services-home .services-list .service img {
    max-width: 40px;
    margin: 5px 0 15px;
  }
}

.benefits-home {
  padding: 0 0 50px 0;
  background: #f5f7fa;
  text-align: center;
}
.benefits-home .benefits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits-home .benefits-container .benefits-list {
  margin-top: 70px;
}
.benefits-home .benefits-container .benefits-list .benefit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  height: 100%;
}
.benefits-home .benefits-container .benefits-list .benefit img {
  width: 50%;
  min-height: 380px;
  object-fit: cover;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-steel {
  color: #00a08f;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-steel:hover {
  color: #02c2ab;
  border-bottom: 1px solid #02c2ab;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-wood {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-wood:hover {
  border-bottom: 1px solid #000;
  color: #000;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-drywall {
  color: #fff;
}
.benefits-home .benefits-container .benefits-list .benefit .benefit-card .link-drywall:hover {
  color: #02c2ab;
  border-bottom: 1px solid #02c2ab;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(1) {
  background-color: #ffffff;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(1) .benefit-card {
  background-color: #ffffff;
  color: #555c66;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(2) {
  background-color: #00a08f;
  flex-direction: row-reverse;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(2) .hover-text {
  transform: translateX(-100%);
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(2) .benefit-card {
  background-color: #00a08f;
  color: #fff;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(3) {
  background-color: #000;
}
.benefits-home .benefits-container .benefits-list .benefit:nth-child(3) .benefit-card {
  background-color: #000;
  color: #fff;
}
.benefits-home .benefits-container .benefits-list .benefit ul {
  font-size: 0.9em;
  list-style: disc inside;
  text-indent: -22px;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .benefits-home .benefits-container .benefits-list .benefit {
    flex-direction: column;
    height: 100%;
  }
  .benefits-home .benefits-container .benefits-list .benefit:nth-child(2) {
    flex-direction: column;
  }
  .benefits-home .benefits-container .benefits-list .benefit img {
    width: 100%;
  }
  .benefits-home .benefits-container .benefits-list .benefit .benefit-card {
    width: 100%;
  }
  .benefits-home .benefits-container .benefits-list .benefit .hover-text {
    display: none;
  }
}

.projects-home {
  background-color: #ffffff;
  padding: 80px 0;
  margin: 0 20px;
  text-align: center;
}
.projects-home .container {
  padding: 0;
}
.projects-home .container .cards-container {
  margin: 60px 0;
}
.projects-home .container .cards-container .card {
  width: 30%;
}

.commitment-home {
  background: linear-gradient(to bottom, #ffffff 50%, #00a08f 50%);
  padding: 0 0 50px 0;
  text-align: center;
}
.commitment-home .container {
  background-color: #ffffff;
  padding: 50px;
}
.commitment-home p {
  font-size: 1.1em;
  margin: 30px 0 40px 0;
}
.commitment-home .button {
  font-size: 0.9em;
}
.commitment-home .commitment-container {
  max-width: 900px;
}
@media (max-width: 576px) {
  .commitment-home .container {
    padding: 40px;
  }
  .commitment-home p {
    font-size: 0.9em;
    margin: 30px 0 30px;
  }
  .commitment-home h2 {
    padding: 0;
  }
  .commitment-home .button {
    font-size: 0.9em;
  }
  .commitment-home .commitment-container {
    width: 400px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .commitment-home .container {
    padding: 40px;
  }
  .commitment-home p {
    font-size: 0.9em;
    margin: 20px 0 30px;
  }
  .commitment-home h2 {
    padding: 0;
  }
  .commitment-home .button {
    font-size: 0.8em;
  }
  .commitment-home .commitment-container {
    width: 80vw;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .commitment-home .container {
    padding: 50px;
  }
  .commitment-home p {
    font-size: 1em;
    margin: 20px 0 30px;
  }
  .commitment-home .button {
    font-size: 0.8em;
  }
  .commitment-home .commitment-container {
    width: 600px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .commitment-home .container {
    padding: 50px;
  }
  .commitment-home p {
    font-size: 1em;
    margin: 20px 0 30px;
  }
  .commitment-home .button {
    font-size: 0.8em;
  }
  .commitment-home .commitment-container {
    width: 700px;
  }
}

.hero {
  background-color: #f5f7fa;
  padding: 160px 0 0 0;
}
.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 0 0 30px 40px;
}
.hero .container .hero-content h1 {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  color: #00a08f;
  font-size: clamp(24px, 4.5vw, 60px);
}
.hero .container .hero-content p {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: left;
  color: #555c66;
}
.hero .container .hero-image {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hero .container .hero-image img {
  width: 100%;
}
@media (max-width: 576px) {
  .hero .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero .container .hero-content {
    width: 100%;
    padding: 0 20px;
  }
  .hero .container .hero-content h1 {
    font-size: 8vw;
  }
  .hero .container .hero-content p {
    font-size: 1em;
  }
  .hero .container .hero-image {
    width: 100%;
    margin-top: 30px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hero .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero .container .hero-content {
    width: 100%;
    padding: 0 20px;
  }
  .hero .container .hero-content h1 {
    font-size: 8vw;
  }
  .hero .container .hero-content p {
    font-size: 1.2em;
  }
  .hero .container .hero-image {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero .container .hero-content {
    width: 40%;
    text-align: center;
  }
  .hero .container .hero-content p {
    font-size: 0.9em;
  }
  .hero .container .hero-image {
    width: 60%;
  }
}

.about-services {
  padding-bottom: 80px;
}
.about-services .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.about-services .container .about-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 50px 40px;
  background-color: #00a08f;
  color: #fff;
  flex: 1;
}
.about-services .container .about-service h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
.about-services .container .about-service p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
.about-services .container .about-service:nth-child(3) {
  background-color: #017c70;
}
.about-services .container .about-service:nth-child(1) {
  background-color: #02c2ab;
}
.about-services .container .about-service .service-icon {
  font-size: 3em;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #fff;
}
.about-services .container .about-service .service-icon img {
  width: 60px;
  height: auto;
}
@media (max-width: 576px) {
  .about-services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-services .container .about-service {
    width: 100%;
    height: 400px;
    padding: 40px 30px;
  }
  .about-services .container .about-service h2 {
    font-size: 1.8em;
  }
  .about-services .container .about-service p {
    font-size: 0.9em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-services .container .about-service {
    width: 100%;
    padding: 40px 30px;
  }
  .about-services .container .about-service h2 {
    font-size: 1.8em;
  }
  .about-services .container .about-service p {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-services .container .about-service {
    padding: 40px 30px;
  }
  .about-services .container .about-service h2 {
    font-size: 1.6em;
  }
  .about-services .container .about-service p {
    font-size: 0.9em;
  }
}

.team {
  position: relative;
  padding-bottom: 80px;
}
.team .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-right: 70px;
}
.team .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-color: #017c70;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.team .container .team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding-top: 30px;
  position: relative;
  z-index: 2;
}
.team .container .team-members .card {
  cursor: auto;
}
.team .container .team-members .team-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  flex: 1;
}
.team .container .team-members .team-member .team-image-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}
.team .container .team-members .team-member .team-image-container img {
  height: 100%;
  object-fit: cover;
}
.team .container .team-members .team-member .team-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.team .container .team-members .team-member .team-info-container .team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.team .container .team-members .team-member .team-info-container .team-info h3 {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
  color: #555c66;
  font-size: clamp(24px, 2vw, 20px);
}
.team .container .team-members .team-member .team-info-container .team-info h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #00a08f;
}
.team .container .team-members .team-member .team-info-container .team-info p {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
  color: #555c66;
}
.team .container .team-members .team-member .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.team .container .team-members .team-member .social-media a {
  font-size: 1.2em;
  margin: 0 8px;
  color: #00a08f;
}
@media (max-width: 576px) {
  .team .container {
    padding-right: 45px;
  }
  .team .container .team-members {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .team .container .team-members .team-member {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .team .container .team-members .team-member h3 {
    font-size: 1.5em;
  }
  .team .container .team-members .team-member h4 {
    font-size: 1em;
  }
  .team .container .team-members .team-member p {
    font-size: 0.8em;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .team .container {
    padding-right: 50px;
  }
  .team .container .team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin: 0;
  }
  .team .container .team-members .team-member {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 25px;
    margin: 0;
  }
  .team .container .team-members .team-member div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .team .container .team-members .team-member .team-image-container {
    width: 30%;
    height: 280px;
    overflow: hidden;
    margin-right: 25px;
    margin-bottom: 0;
  }
  .team .container .team-members .team-member .team-image-container img {
    width: 100%;
  }
  .team .container .team-members .team-member .team-info-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .team .container .team-members .team-member .team-info-container .team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .team .container .team-members .team-member .team-info-container .team-info h3 {
    font-size: 1.8em;
  }
  .team .container .team-members .team-member .team-info-container .team-info h4 {
    font-size: 1.2em;
  }
  .team .container .team-members .team-member .team-info-container .team-info p {
    font-size: 0.9em;
    text-align: left;
  }
}

.service-integral {
  background-color: #f5f7fa;
  padding: 80px 0 110px 0;
}
.service-integral .container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
  width: clamp(260px, 90%, 1200px);
}
.service-integral .container .service-integral-icon img {
  width: 100px;
  height: auto;
  margin-bottom: 30px;
}
.service-integral .container h2 {
  width: 70%;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #000;
}
.service-integral .container p {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  color: #555c66;
  line-height: 1.8em;
  width: 90%;
}
@media (max-width: 576px) {
  .service-integral .container {
    padding: 50px 30px;
    width: 80%;
  }
  .service-integral .container .service-integral-icon img {
    width: 70px;
    height: auto;
    margin-bottom: 30px;
  }
  .service-integral .container h2 {
    width: 100%;
    font-size: 2em;
  }
  .service-integral .container p {
    font-size: 0.9em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .service-integral .container {
    padding: 50px 30px;
    width: 85%;
  }
  .service-integral .container .service-integral-icon img {
    width: 75px;
    height: auto;
    margin-bottom: 20px;
  }
  .service-integral .container h2 {
    width: 100%;
    font-size: 2.5em;
  }
  .service-integral .container p {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-integral .container {
    padding: 50px 30px;
    width: 90%;
  }
  .service-integral .container .service-integral-icon img {
    width: 90px;
    height: auto;
    margin-bottom: 30px;
  }
  .service-integral .container h2 {
    width: 70%;
    font-size: 2.5em;
  }
  .service-integral .container p {
    font-size: 0.9em;
  }
}

.projects {
  padding-bottom: 40px;
  background-color: #f5f7fa;
}
.projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.projects .container .title {
  background-color: #00a08f;
  color: #fff;
  width: 320px;
  position: absolute;
  top: -1.2em;
  z-index: 2;
  padding: 20px;
}
.projects .container .title::after {
  display: none;
}
.projects .container .carousel-inner .carousel-item img {
  height: 100%;
}
.projects .container .carousel-inner .carousel-item .carousel-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  bottom: -10em;
  left: 0;
  width: 100%;
  padding: 60px 0;
  transition: bottom 0.5s;
}
.projects .container .carousel-inner .carousel-item p {
  padding: 0 80px;
}
.projects .container .carousel-inner .carousel-item:hover .carousel-caption {
  bottom: 0;
}
.projects .container .projects-description {
  padding: 50px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.projects .container .projects-description p {
  width: 70%;
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  color: #555c66;
}
@media (max-width: 576px) {
  .projects .container .title {
    width: 180px;
    font-size: 1.5em;
    top: -1.8em;
  }
  .projects .container .projects-description {
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projects .container .projects-description p {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .projects .container .title {
    width: 200px;
    font-size: 1.7em;
  }
  .projects .container .projects-description {
    padding: 30px 5px;
  }
}

.contact-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #00a08f;
  /* Responsive */
}
.contact-banner-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url("../assets/images/steel-framing-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.contact-banner-container .info-banner-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 50px;
  height: 370px;
  margin-left: 70px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.contact-banner-container h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  color: #000;
}
.contact-banner-container p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
  color: #555c66;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .contact-banner-container .container {
    display: flex;
    justify-content: center;
  }
  .contact-banner-container .info-banner-contact {
    margin: 0;
    padding: 40px;
    height: 450px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .contact-banner-container .container {
    display: flex;
    justify-content: center;
  }
  .contact-banner-container .info-banner-contact {
    margin: 0;
    padding: 40px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .contact-banner-container .container {
    display: flex;
    justify-content: center;
  }
  .contact-banner-container .info-banner-contact {
    margin: 0;
    padding: 40px;
    max-width: 560px;
  }
  .contact-banner-container p {
    font-size: 1em;
  }
}

.banner-projects {
  padding: 160px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.banner-projects::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-image: url("../assets/images/portada-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 1;
}
.banner-projects .container {
  width: 70%;
  max-width: 900px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 12px 0px #00a08f;
  background: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
  position: relative;
  z-index: 2;
}
.banner-projects .container:hover {
  box-shadow: 15px 17px 0px #00a08f;
  transform: translate(0, -10px);
}
.banner-projects .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-projects .container div .title {
  padding-top: 0;
}
.banner-projects .container div p {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  width: 85%;
}
.banner-projects .container p {
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 35px 0;
  width: 85%;
}
.banner-projects .container h5 {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #333;
  padding: 20px 0 5px 0;
}
@media (max-width: 991px) {
  .banner-projects .container {
    width: 70%;
    padding: 35px;
  }
  .banner-projects .container div .title {
    font-size: 1.5em;
  }
  .banner-projects .container div p {
    width: 100%;
    font-size: 1em;
  }
  .banner-projects .container p {
    font-size: 1em;
    margin: 0 0 40px 0;
    width: 100%;
  }
  .banner-projects .container h5 {
    font-size: 1em;
  }
}
@media (max-width: 576px) {
  .banner-projects .container {
    width: 90%;
    padding: 20px;
  }
  .banner-projects .container div .title {
    font-size: 1.2em;
  }
  .banner-projects .container div p {
    width: 100%;
    font-size: 0.9em;
  }
  .banner-projects .container p {
    font-size: 0.9em;
    margin: 0 0 30px 0;
    width: 100%;
  }
  .banner-projects .container h5 {
    font-size: 0.9em;
  }
}

.gallery-section .nav-tabs {
  border: none;
  display: grid;
  grid-template-areas: "a b c";
}
.gallery-section .nav-tabs .grid-area-a {
  grid-area: a;
}
.gallery-section .nav-tabs .grid-area-b {
  grid-area: b;
}
.gallery-section .nav-tabs .grid-area-c {
  grid-area: c;
}
.gallery-section .nav-tabs .nav-item {
  width: 100%;
  text-align: center;
}
.gallery-section .nav-tabs .nav-item .nav-link {
  color: #555c66;
  background-color: #f5f7fa;
  border-radius: 0;
  border-top: 2px solid #8a8a8a;
}
.gallery-section .nav-tabs .nav-item .nav-link:hover {
  background-color: #ffffff;
}
.gallery-section .nav-tabs .nav-item .nav-link.active {
  color: #00a08f;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  border-top: 2px solid #00a08f;
}
.gallery-section .gallery-projects .tab-pane .project-image {
  height: 250px;
}
.gallery-section .gallery-projects .tab-pane .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery-section .nav-tabs {
    display: grid;
    grid-template-areas: "a a" "b c";
  }
  .gallery-section .nav-tabs .nav-item .nav-link {
    font-size: 0.9em;
  }
  .gallery-section .gallery-projects .tab-pane .project-image {
    height: 200px;
  }
}

.banner-typo {
  height: 80vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../assets/images/portada-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-typo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.banner-typo .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.banner-typo .container h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  margin: 0 0 20px 0;
  width: 50%;
}
.banner-typo .container p {
  font-size: 1.2em;
  text-align: left;
  margin: 0 0 35px 0;
  width: 50%;
}
@media (max-width: 991px) {
  .banner-typo .container h1 {
    font-size: 2.5em;
    width: 70%;
  }
  .banner-typo .container p {
    font-size: 1em;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .banner-typo .container h1 {
    font-size: 2.2em;
    width: 90%;
  }
  .banner-typo .container p {
    font-size: 1em;
    width: 90%;
  }
}
@media (max-width: 575px) {
  .banner-typo .container h1 {
    font-size: 2em;
    width: 100%;
  }
  .banner-typo .container p {
    font-size: 1em;
    width: 100%;
  }
}

.quote-section {
  padding: 50px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #00a08f;
  padding: 30px 40px;
  max-width: 1200px;
}
.quote-section div h3 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: left;
  width: 70%;
  margin: 0;
  padding-right: 20px;
}
.quote-section div .button {
  background-color: #017c70;
}
.quote-section div .button:hover {
  background-color: #026b61;
}
@media (max-width: 991px) {
  .quote-section div h3 {
    font-size: 1.5em;
    width: 60%;
  }
}
@media (max-width: 767px) {
  .quote-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote-section div h3 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;
  }
}

.gallery-typo .tab-pane p {
  padding-bottom: 20px;
}
.gallery-typo .tab-pane .card-container .typo-card {
  box-shadow: none;
  height: 500px;
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
}
.gallery-typo .tab-pane .card-container .typo-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.gallery-typo .tab-pane .card-container .typo-card div {
  padding: 25px;
}
.gallery-typo .tab-pane .card-container .typo-card div h5 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
@media (max-width: 991px) {
  .gallery-typo .tab-pane .card-container .typo-card {
    height: 400px;
  }
  .gallery-typo .tab-pane .card-container .typo-card div h5 {
    font-size: 1.6em;
  }
  .gallery-typo .tab-pane .card-container .typo-card div p {
    font-size: 1.1em;
    width: 70%;
  }
}
@media (max-width: 575px) {
  .gallery-typo .tab-pane .card-container .typo-card div h5 {
    font-size: 1.5em;
  }
  .gallery-typo .tab-pane .card-container .typo-card div p {
    font-size: 1em;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
