@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables de color
$main-color: #00a08f;
$main-color-dark: #017c70;
$main-color-light: #02c2ab;
$base-background: #ffffff;
$second-background: #f5f7fa;
$dark-background: #000;
$titles-color: #333;
$gray-background: #404040;
$clear-text: #fff;
$base-text: #555c66;

// Tipografía
$font-family: 'Montserrat', sans-serif;

// Containers
$container-width: 1300px;

// box-shadow-effect