header {
  background-color: $base-background;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.034);

  nav {
    position: relative;
    z-index: 4;

    .logo {
      img {
        height: 55px;
        width: auto;
      }
    }

    .navbar-toggler {
      border: none;
      outline: none;
    
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    
      &:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    .navbar-collapse {
      position: relative;
      z-index: 4;

      .menu-list {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
    
        .item-list {
          display:flex;
          flex-direction: row-reverse;
          margin-top: 10px;
          margin: 0 10px;
    
          .link-list {
            @include text-style(1em, 600, 0, center, $base-text);
            padding: .4vw .5vw;
            border-bottom: solid 1px $clear-text;
          
            &:hover {
              color: $main-color;
              border-bottom: solid 1px $main-color;
            }
          }

          .actived {
            color: $main-color;
            border-bottom: solid 1px $main-color;
          }
        }
      }
    }
  }
  
  // Responsive
  header {
    @media (max-width: 576px) {
      .logo {
        img {
          height: 50px;
        }
      }
    }
    
    @media (max-width: 768px) {
      .logo {
        img {
          height: 45px;
        }
      }
    
      .services-home {
        h2 {
          font-size: 2em;
        }
      }
    }
  
    @media (max-width: 992px) {
      nav { 
        li {
          &:last-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}